<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Plot - Chart</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/jquery.numberedtextarea.css">
		<style>
			textarea {background:#000000; color:#ffffff; width: 100%;}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12">	
					<nav class="navbar navbar-light" style="background-color: gray;">
						<label><%= name_autor %>'s Challenge</label>
					</nav>
				</div>
			</div>
			<form action="/send" method="post">
				<div class="row">
					<div class="col-12">
						<div class="numberedtextarea-wrapper">
							<textarea id="txtArea" name="eventsJson" cols="110" rows="15"></textarea>
							<input type="hidden" id="contLines" name="contLines" />
						</div>
					</div>
				</div>
				<div class="col-2">
					<button type="submit" class="btn btn-default">Gerar Gráfico</button>
				</div>
			</form>
			<div>
				<canvas id="myChart" width="800px" height="500px"></canvas> 			
			</div>
		</div>

		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js" ></script>
		<script src="js/jquery.numberedtextarea.js"></script>
		<script src="js/graph.js"></script>

		<script type="text/javascript">$('textarea').numberedtextarea();</script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	</body>
</html>