<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Plot - Chart</title>

		<!-- bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		
		<!-- text area and line input -->
		<link rel="stylesheet" href="css/jquery.numberedtextarea.css">

		<style>
			textarea {background:#000000; color:#ffffff; width: 100%;}
		</style>
	</head>
 
	<body>
	 	<div class="container">
			<div class="row">
				<div class="col-12">	
					<nav class="navbar navbar-light" style="background-color: gray;">
			  			<label><%= name_autor %>'s Challenge</label>
					</nav>
				</div>
			</div>
			<form action="/send" method="post">
				<div class="row">
		    		<div class="col-12">
		    			<div class="numberedtextarea-wrapper">
		    				<textarea id="txtArea" name="eventsJson" cols="110" rows="15"></textarea>
		    				<input type="hidden" id="contLines" name="contLines" />
		    			</div>
		    			
			    	</div>
		    	</div>
		    	<div class="col-2">
		    		<button type="submit" class="btn btn-default">Gerar Gráfico</button>
			    </div>
			    
	    	</form>
	    	<div>
			<canvas id="myChart" width="800px" height="500px"></canvas> 			
		</div>

	    </div>
	<!-- JQuery -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js" ></script>
	<script src="js/jquery.numberedtextarea.js"></script>
	<script type="text/javascript">
		$('textarea').numberedtextarea();
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script>
	// Our labels along the x-axis
var years = [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050];
// For drawing the lines
var africa = [86,114,106,106,107,111,133,221,783,2478];
var asia = [282,350,411,502,635,809,947,1402,3700,5267];
var europe = [168,170,178,190,203,276,408,547,675,734];
var latinAmerica = [40,20,10,16,24,38,74,167,508,784];
var northAmerica = [6,3,2,2,7,26,82,172,312,433];

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: years,
    datasets: [
      {
        data: africa,
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      },
      {
        data: asia,
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      },
      {
        data: europe,
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      },
      { 
        data: latinAmerica,
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      },
      { 
        data: northAmerica,
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  }
});
	
	</script>
	
	</body>
</html>